[2018-12-14 10:41] eleaner opened #1 "problems with first load of workpackages"
Hi,

I can see the connection is established and I can see a loaded list of projects etc.
but if I try to load workpackages I am always getting the following error

The following columns are madatory: "updatestatus", "id", "lock version", "title".
I defined all the columns and it still fails

The funny part is that there is no column "title" as far as I can say, only "subject"

[2018-12-19 14:12] bpetraus commented on #1
Hi,

this was due to some hardcoded mapping regarding language settings by user. Never tested this before. So, thank you!

Fixed it. Everything should work fine now, in any language. I would highly appreciate, if you could test it.

Best Regards

Bernd

[2019-01-18 12:53] eleaner commented on #1
I am sorry, it was still on my to-do list, but I lost access to the
original OpenProject install so it slipped

On Fri, 18 Jan 2019 at 12:50, bpetraus <notifications@github.com> wrote:

[2019-01-25 22:06] tooakley commented on #1
I am still seeing this behavior.  (just re-downloaded the XLSM from the repo)

The error is *slightly* different:
The following columns are madatory: "Updatestatus", "ID", "Lock Version", "Subject".

I don't see any list of projects as eleaner described in the original post.

![image](https://user-images.githubusercontent.com/11841539/51775336-06689080-20bb-11e9-9ec7-3981e208871b.png)

My apologie

[2019-01-26 09:47] bpetraus commented on #1
Hi todd,

thank you for reporting!

Can you please make a screenshot of the columns you have selected in your Excelsheet? (just the headline)

Best regards

Bernd

[2019-01-26 09:48] bpetraus commented on #1
Hi eleaner,

thank you. Maybe theres another chance for testing it.

Best Regards

Bernd

[2019-01-29 09:24] jbouduin commented on #1
Hello,

I even do not get that far: I get a connection error (resource not found) when trying to load workpackages.
Debugging pointed out that this happens when trying to retrieve types using SubUrlStr = "Projects/andere/types". Dokumentation of the API (http://docs.openproject.org/apiv3-doc/#types-types-by-project-get) specifies that an integer (Project ID) should be used. Do I miss something her

[2019-01-29 09:49] bpetraus commented on #1
Hi Johan,

its not the integer (Project ID) to be used. Try Identifier instead. (You can find this in Project Settings or in every URL within a project, e.g.: plugins is the identifier in this project: https://community.openproject.com/projects/plugins?jump=homescreen)

Best Regards

Bernd

[2019-01-29 15:19] tooakley commented on #1
Bernd,
I didn't see any instructions for selecting columns. I get the error when first trying to connect to the OpenProject instance. After the error, there is no data in the XLSX, even though it looks like it's successfully connected to the server.
![image](https://user-images.githubusercontent.com/11841539/51918321-f09ee800-23a6-11e9-88fa-664272f4358f.png)

[2019-01-29 16:16] byneoseb commented on #1
Hi tooakley

I have Excel 2019 and I was a same issue like you. You have to fill in yourself with columns that missing.
After that it works !

![excel](https://user-images.githubusercontent.com/10479138/51922445-56ac5f00-23e9-11e9-8213-3cabe4708c4e.PNG)

[2019-01-29 16:20] tooakley commented on #1
That was it! I see it now. Thanks for you patience w/ a newbie!

[2019-01-29 16:42] bpetraus commented on #1
Hi guys,

thank you, byneoseb! Thats how its meant to be.

I'll close this issue, because it seems to work, no matter what lnguage is selected. (initial problem)

Dont hesitate to open a new issue, when you discover a new problem.

Btw.: It might be useful to make an intrudoction video. I will do so in the next days.

Bernd

[2019-01-29 16:42] #1 closed

[2019-01-30 08:05] jbouduin opened #2 "Error when initializing"
Me again…
Still trying to use the XL for the first time. When initializing I get the following error:
![error message](https://user-images.githubusercontent.com/44770683/51965953-5d7bb600-246b-11e9-90f9-8d0860f9d351.jpg)

My Settings are like this:
![selectproject](https://user-images.githubusercontent.com/44770683/51966251-4be6de00-246c-11e9-9a84-3a4df88cdf00.jpg)

As mentioned in #1 : Debugging

[2019-01-30 17:04] bpetraus commented on #2
Hi Johan,

the vba code normally replaces identifier by project id. Seems to me, that this doesnt work properly.

What is pretty obvious in the formular, "Andere" should definitely be completely lowercase. Are you sure, that this is the identifier, not the name of the project?

Bad example, because name and identifier are here nearly the same, but to make clear, what i'm trying to make sure:

![im

[2019-01-30 20:17] jbouduin commented on #2
Hello Bernd,

my mistake. The projects name is "Andere", the identifier is something completely different as I renamed the project a while ago.

Sorry for the annoyance
Johan

[2019-01-30 20:17] #2 closed

[2019-01-31 10:35] bpetraus commented on #2
Hi Johan,

ok, good to know. Thank you for your response!

Best Regards

Bernd

[2019-02-08 08:27] lindenthal opened #3 "Sort of work packages attributes seem to be random"
![grafik](https://user-images.githubusercontent.com/1019287/52466785-bb9f4c00-2b83-11e9-9181-9f480cf4d71e.png)

[2019-02-11 12:26] bpetraus commented on #3
Thank you! Fixed.

[2019-02-11 12:26] #3 closed

[2019-02-15 02:46] unaginokabayaki opened #4 "I needed some fixes to compile it."
I needed some fixes to compile it.
* Progressbar control is not available for 64bit excel
* typo at .Sort.SortFields.Add
* missing double quote around TextStr = Replace(TextStr, "\u00E0", "・", , , vbBinaryCompare)

[2019-03-12 14:05] bpetraus commented on #4
Hi,

unfortunately I have no 64 bit version. So I can not reproduce your issues. What I have done:

* I replaced the progressbar by another, wich should also work for 64 bit Excel.
* I fixed the "typo". (see also [#29628](https://community.openproject.com/projects/excel-sync/work_packages/details/29628/overview)
* I'm not able to see your point. Can you provide som details? Wich language do you us

[2019-04-08 17:22] #4 closed

[2019-05-27 21:22] dcbell opened #5 "Type Mismatch When Initializing Projects"
When first using the file, after setting up the URL, API Key, and identifier, then clicking accpet:

![choose project](https://user-images.githubusercontent.com/930515/58439729-52dcd080-809b-11e9-94a0-588339b46849.png)

I get a `Run-time error ' 13': Type mismatch.`.

![after accept - error](https://user-images.githubusercontent.com/930515/58439736-6425dd00-809b-11e9-9bcd-6dd036b9c69f.png)

I went

[2019-06-01 07:53] bpetraus commented on #5
Hi dcbell,

thank you for detailed report!

I wasnt able to confirm your bug, although I did a adjustment in the mentioned line of code. But that shouldn't explain the bug. You can give it a try, anyway.

Here're some additional thoughts on that. As you surely figured out, theres a worksheet called "Projects". Here happens the mapping from identifier to projectid as you did manually by setting to

[2019-06-18 15:50] #5 closed

[2019-08-08 12:45] jjkoehorst opened #6 "Paste in login dialogue on mac"
When starting the excel sheet I am unable to paste the URL or API in the dialogue. I am using the latest Mac OS and excel but paste does not work. also the login window is extremely small and difficult to read.

[2019-09-04 11:23] DanyHubGit opened #7 "Estimated Time and Remaining hours"
It's not possible to decode the format of these two fields (Estimated Time and Remaining hours).
If I put a value of **Estimated Time=1000 hours**, in excel the value read is **P41DT16H**

Do you know how we can decode this value?

Thanks in advance

The same behaviour is for the field Remaining Hours

[2019-09-04 11:42] ulferts commented on #7
Both attributes are in the [ISO 8601 duration format](https://en.wikipedia.org/wiki/ISO_8601). So the string you have printed as an example represents:
41 days and 16 hours

While it is an ISO standard, Excel seems to not have a built in way of decoding it. This would have to be done e.g. by some VBA script or possibly some fancy string manipulation formula.

[2019-09-04 14:55] DanyHubGit commented on #7
Thanks for explanation.
Sorry but, how have you decoded **P41DT16H** to **41 days and 16 hours**?

[2019-09-04 15:01] ulferts commented on #7
Copied from the wiki page:

So the Period (P) part is P41D and the Time (T) part is T16H. The period part contains only one number followed by a D for days. That translates to 41 days. The time part contains only one number followed by an H for hours which translates to 16 hours.

[2019-09-04 15:19] DanyHubGit commented on #7
@ulferts
Thank you so much!

[2019-09-04 15:19] #7 closed

[2019-09-08 12:31] bpetraus commented on #6
Unfortunately Mac isnt supported, yet. Sorry.

[2019-09-08 12:31] #6 closed

[2019-09-10 13:15] lindenthal opened #8 "Default columns"
Hi @bpetraus,
A new user always needs to configure some attributes such as lock version, subject, ID. Is it possible to preset these attributes in the template sheet? So a new user does not need to figure out how to select these columns. Does this make sense for you?
Best
Niels

[2019-09-19 15:04] bpetraus commented on #8
Hi @lindenthal ,
done. Thank you for the hint.
Can you please try?
Best
Bernd

[2019-10-01 14:42] LUiZiNH0 opened #9 "Comments and attachment"
Hi! @bpetraus, is it possible to include the comments and inform if you have an attachment in the task?

[2019-10-01 14:59] LUiZiNH0 opened #10 "Version 0.5.11 issue in 64 bits"
Hi, in MS Office 64 bits, when opening the version 0.5.11. An error occurs stating that this code must be updated for use on a 64bit system. The compilation error occurs on these line, in BasicModul: "Declare Function GetSystemMetrics Lib "user32" (ByVal nIndex As Long) As Long"

If comment these lines in BasicModul The build is successful:
'Declare Function GetSystemMetrics Lib "user32" (ByVal nI

[2019-10-09 07:48] bpetraus commented on #10
Hi @LUiZiNH0 , thank you for reporting! I had to remove the responsive fomular stuff at all. So formularsize is hardcoded for now.

[2019-10-09 07:48] #10 closed

[2019-10-09 07:59] bpetraus commented on #9
Hi @LUiZiNH0 the API v3 provides this information, especially comments, but I'm not sure how to plot this amount of information in a proper way. Mabye by adding a high amount of additonal columns, but even then, it wouldnt be look nice, useful neither. Do you need the comments for all the workpackages or just the selected ones?

[2019-10-22 09:15] sunishnet commented on #8
In fact all the fields can be put in the default template

[2019-10-22 09:18] sunishnet opened #11 "Closed work packages are not downloaded"
I was trying to download workpackages from one instance of OP to upload to another, kind of migration. But I find closed workpackages are not downloaded. Any solution/work around ?

[2019-10-22 10:08] bpetraus commented on #8
Of course, you can create your own template anytime. But it is specific to the users language. So, I'm not able to provide a default template for every language, you know?

How it is done now: If the sheet is empty the mandatory columns will be filled in the useres language.

[2019-10-22 10:30] bpetraus commented on #11
Hi @sunishnet ,

Thats its how its meant to be. You get the standard view. So what you see in OpenProject is the same as in Excel. And in standard view, there are no closed workpackages.

But you brought up a good point. You have to create a custom filter without any filter. Then you'll need to get the query id to download all related workpackages. You can find the query id in the URL, once you ha

[2019-10-23 10:44] lindenthal commented on #8
Hi @bpetraus,

works like a charme! :-)

Thanks a lot,
Niels

[2019-10-23 10:44] #8 closed

[2019-10-23 10:49] lindenthal opened #12 "Downlaod of relations"
Hi @bpetraus,

We have a client that has n:m-entities in OpenProject.

Product:Contract:Customer

Now they asked me for an easy way to have reports on these the transitive relationship between Products and Customers: "What Customer uses one specific Product".

Currently this filter not possible in OpenProject so I am wondering if they could use your Excel macro to generate these reports.

So my qu

[2019-10-23 13:38] sunishnet commented on #11
Hi Bernd,
Wow, that was fast. Your solution worked as expected. I created a filter with all workpackages and then made it public/favoured. Got the query id and could download all WPs.

Thanks,
Sunish

[2019-10-23 13:38] #11 closed

[2019-10-30 12:07] bpetraus commented on #12
Hi @lindenthal

the API provides the required information.

I dont make any use of it, because there was no proper way to present theese information.

But, it should be easy to show the ids of related workpackages in a additional column, but thats not enough, I guess.

Best

Bernd

[2019-10-30 12:10] lindenthal commented on #12
Hi @bpetraus,

yes, you are right. It is difficult to make use of it.

I guess they have to use this to get the "raw data" for customers, contracts and products. And then they need to do some magic in Excel (e.g SVERWEIS).

Best
Niels

[2019-10-30 12:17] bpetraus commented on #12
Hi @lindenthal

think so. With the ids of related workpackages and some advanced excel skills, it wouldnt be a big deal to get the required informations.

Please let me know, if they would make any use of a additional column "relations".

Best

Bernd

[2019-11-06 10:18] FloStoyadin opened #13 "Automatic Update of Non Selected Custom Field"
Hi @bpetraus ,

a custom field (format -> list, most recent one added to our system) keeps getting updated (it seems to not change anything though) while updating fields in existing work packages, even though that particular field is NOT selected in the template.

The update does not happen in every work package selected in the template though.

Unfortunately "reinstallation" of the template did n

[2019-11-07 17:15] bpetraus commented on #13
Hi @FloStoyadin

I'm sorry, I'm not sure, if I understand you correctly.

Let me try to formulate the problem by myself:

- There is a workpachage with several attributes and a custom attribute (formatted as list). The custom attribute has value, lets say "A".
- After downloading this workpackage to the Excel sheet and upload it right again, without any changes, the workpackage gets updated and ac

[2019-11-08 08:33] FloStoyadin commented on #13
Thanks for the quick reply!

And yes.... exactly as you described it.

Best Regards
Flo

[2019-11-09 14:17] bpetraus commented on #13
Ok, so what next would be interested to know is, why it doesnt update every workpackage downloaded to the Excel sheet. Can you please try to figure out, if there're some commonalities of the updated workpackages, e.g. umlauts or something?

[2019-11-11 09:34] FloStoyadin commented on #13
"Umlauts" in the title of the work package are pretty rare, what a lot of them contain are points and hyphens (in general). The custom field title itself does not contain any of those, but some of its values contain "Umlauts".

The vast majority of the work packages hold a lot values for that custom field (20/30+), but there are some work packages containing less than 10 or even a single value and

[2019-11-11 17:12] bpetraus commented on #13
Hi @FloStoyadin

I did some testing. But I wasnt able to reproduce your problem. Is there any way to send me a example excel? Do you have a test instance of OpenProject?

Best

Bernd

[2019-11-18 11:11] FloStoyadin commented on #13
Sorry it took me a while, shared a repo with you.

Best Regards
Flo

[2019-12-20 09:40] olivierdalang opened #14 "Order by hierarchy"
Hi !

It doesn't seem possible currently to have the rows ordered by hierarchy in Excel.

That would be a nice feature, especially if displayed with the 4 spaces indent trick, as it would start to look very similar to what you see in open-project.

Maybe attributes such as "order" and "hierarchical order" could be retrieved, to allow this ? (not sure how it works internally)

Cheers

[2020-01-01 09:51] bpetraus commented on #14
Hi @olivierdalang

thank you. Can you please try the new function?

Maybe I'll add some aggregation function or something in future. Shouldnt be a big deal.

Best

Bernd

[2020-01-07 11:28] olivierdalang commented on #14
@bpetraus Wow, that was fast. Just tested, and it seems to work well ! Thanks so much !!!

[2020-01-07 16:43] bpetraus commented on #14
Your welcome. You were lucky, I didnt had much to do on new years day. :)

[2020-01-07 16:43] #14 closed

[2020-01-08 09:32] bpetraus commented on #13
Problem is not related to the excelsheet in first place.

[2020-01-08 09:32] #13 closed

[2020-01-08 09:35] bpetraus commented on #12
Theres a new function addressing this and additional stuff. You can now download the ids of related workpackages and create a report to analyse all of theese relations.

[2020-01-08 09:35] #12 closed

[2020-01-08 16:15] bpetraus opened #15 "Relations Sheet: Nor Error Handling when no project is selected"

[2020-01-13 16:38] olivierdalang opened #16 "Manual ordering column"
Hi !

It is currently not possible to get/set the manual ordering value.

It would be very useful, as it would allow to make up for some OP gaps (e.g. sorting lost when cloning projects, somewhat unreliable drag&drop, etc.). It would also allow to replicate exactly the hierarchy on the platform using the new sort by hierarchy feature #14.

Cheers,

Olivier

[2020-01-13 16:41] olivierdalang opened #17 "[Feature request] Open/Libre office version"
Hi !

Title says it all, it would be awesome if the same sheet was available for Open/Libre office.

Cheers !

Olivier

[2020-01-14 16:13] cybernoid opened #18 "After failed import the workpackage status list is broken"
I connected the server and it downloaded the attributes as expected. The usual workpackage status fields (default from OpenProject installation: "New", "In specification", "Specified", "Confirmed", "To be scheduled", ....) did not show up, instead the drop down contained "New", "In progress", "Closed", "on hold" and "Rejected". After uploading the changes, the list of workpackage stati in OpenProj

[2020-01-15 08:14] cybernoid commented on #18
Ok I just understood somewhat more about OpenProject. Obviously there are two different lists of possible workpackage stati, one for Tasks, Phases and so on and the other for Features, Bugs and User Stories. The Excel sheet obviously allows only values from the first list, no matter what the workpackage type is.

The question remains however why none of my newly created workpackages in the Excel s

[2020-01-15 08:43] bpetraus commented on #18
Hi @cybernoid , did you receice any message in the column "updatestatus" for the affected workpackages?

[2020-01-15 08:47] cybernoid commented on #18
For the modified workpackages it contains "200 - OK", but for the newly created workpackages the column remains empty.

[2020-01-15 09:02] bpetraus commented on #18
That indicates it stops right before the workpackages.

Is there a empty row before? It shoudn't, because thats the marker for stopping.

Can you try to delete all the other rows before? Just for testing.

[2020-01-15 09:08] bpetraus commented on #18
Re. statuses: Status is a special case in OpenProject.

It depends on workflows the admin defines. (see admin config) When you try to change a status in OpenProject a list of "allowed" status values is shown. What is allowed depends on the value it has been before, whats the users role and what workpackage type.

In the Excel this usability feature is not provided. So in the dropdown in Excel you

[2020-01-15 09:15] cybernoid commented on #18
The problem with inserting new entries was that I tried to provide an ID, which seems not to be allowed. Everything seems to work now, thank you very much for your support!

[2020-01-15 09:15] #18 closed

[2020-01-15 09:23] bpetraus commented on #18
Thats indeed not allowed. You can not define ids by yourself, neither in Excel nor in OpenProject. Just for clarification. Once an id is provided, it is assumed the workpackages already exists. If no id is peovided its about to create a new one.

[2020-01-23 11:22] bpetraus commented on #16
Hi @olivierdalang ,

as far as I know this information is not provided by APIv3.

@ulferts @oliverguenther Am I missing something? Is there any way for me to get this informtion in a neat way?

Best

Bernd

[2020-01-23 13:24] ulferts commented on #16
@bpetraus the information is available via the APIv3 (although I must confess it is not document, and given that it does not follow the structure of the v3, for good reason).

The order does only exist for persisted queries. Given a query has been persisted, the order can be fetched via:
[code]

A hash is returned e.g. like
[code]
The first value is the id of the work package and the second is the

[2020-01-24 08:30] bpetraus commented on #16
@ulferts Thank you!
@olivierdalang I will implement this function, but dont know exactly when.

[2020-02-03 14:02] anotherska opened #19 "Error 404 causing "Unknown error (mostly invalid http). Abort.""
Hi,

thanks for your great work on this Excel-Makro. I am using it on many projects without any issues.
I recently discovered an error when trying to sync a new project:
"Unknown error (mostly invalid http). Abort."

When tracking down this error I realized that the URL constructed
https://"openprojectbasisurl"/op/api/v3//op/principles/...
was causing an error 404. I am not sure if this is an erro

[2020-03-26 11:56] bpetraus opened #20 "Bug: Sorting by hierarchy if parent doesnt exist"
e.g. if parent is closed.

[2020-03-26 14:04] dot452 opened #21 "error"
So excited to use this, but I'm running into this error when hitting "Accept". I'm using Office 365, but I'm trying to find out how to download older versions of Excel to try to troubleshoot. Thought I'd post this issue here in the meantime.

Err.Raise 10001, "JSONConverter", json_ParseErrorMessage(JsonString, json_Index, "Expecting '{' or '['")

[2020-03-27 06:29] bpetraus commented on #21
hi @dot452 can you please eplain your case in more detail? What did you tried? Where did it stopped exactly?

[2020-03-27 11:56] dot452 commented on #21
Hi @bpetraus , sure thing-
- I followed the instructions on this page: https://www.openproject.org/synchronize-excel-openproject/
- I was using Office 365 because that's what my work uses
- The file would either not open and I'd get a "file corrupt, could not open" error, or, I would be able to open it, and I'd be able to fill out the information, but then I'd get the error described in my first c

[2020-03-27 16:50] bpetraus commented on #21
Hi @dot452 vba doesnt work in the web apps for obvious reasons. I was considering switching to excel web app addin, but this would be a big deal. So I postponed it for now. Sorry.

[2020-05-19 03:11] phuonghao commented on #19
show me how to fix this bug your way

[2020-06-07 23:49] rajendrap123 opened #22 "How to make Add in like this that sync?"
@oliverguenther @oliverguenther

[2020-06-19 06:46] bpetraus commented on #22
hi @rajendrap123 actually I had this in mind. This by itself isnt a big deal. If you're interested, there're several tutorials in the internet.

The problem in this special case is, that a lot of data is cached in worksheets. So if you want to reuse the code in an addin, you have to find a solution for this (probably create worksheets to runtime ect.) Possible, but I dont know, if this fits your c

[2020-06-19 07:00] #21 closed

[2020-06-19 07:13] bpetraus commented on #19
Hi @anotherska ,

unfortunately I dont have much experience with proxys. I did implement the feature for one particular request. That was my only test environment re. proxy.

Im still interested in your case. Since your issue is quite old (sorry for responding that late), have you found anythin new?

Best

Bernd

[2020-07-02 12:42] anotherska commented on #19
Hi Bernd,

thanks for your reply. I am currently busy with other things and have not been working further on this issue. I plan to migrate the server soon to another system using another proxying. I will report if the issue can be reproduced on the new system.

Kind regards,
Sören

[2020-08-15 19:47] jokubokla opened #23 "Possible Improvement - AddIn Menu"
Hi bpetraus (Bernd?),

Thanks for sharing the OpenProject Excel makro. I'm using Excel macros quite often. A while ago I investigated how functions can be executed via the Excel AddIn menue. I think this method could improve the usability of you tool quite a bit (No need to remember Ctrl-B). The beauty is that the AddIn menue disappears when you close the file.

Instead of pulling and forking your

[2020-08-18 12:08] bpetraus commented on #23
Hi Jörg (@jokubokla )

I like the idea and will keep it in mind. Unfortunately I haven't much time right now. So don't expect anything soon. Sorry.

But feel free to implement it by yourself. I would check it and merge it right here afterwards.

Best

Bernd

[2020-09-18 13:47] 4integration opened #24 "Missing fields and data"
Hi,

Trying out OpenProject and have registered a few tasks and some relations as can be seen on screenshot below:

![image](https://user-images.githubusercontent.com/11057350/93604327-85fc4f00-f9c5-11ea-9e4e-5e22085707b8.png)

When using this Excel tool I only get 4 columns and data for them.

![image](https://user-images.githubusercontent.com/11057350/93604262-6e24cb00-f9c5-11ea-94ff-d59177cfb6c

[2020-09-23 14:40] bpetraus commented on #24
Hi @4integration ,

unfortunately it is not possible to predefine the columns.

But its very easy to add the columns by yourself, like you can see for example in this video: (at 4:30)

https://www.youtube.com/watch?v=ZPK-l-e-lKI

Best

Bernd

[2020-09-23 14:41] #24 closed

[2020-09-29 08:16] fercook opened #25 "Visual Basic Compile error: Can't find project or Library"
Hi, I am trying to use the Excel document in a Mac, with Excel 2019, and I get a
`Microsoft Visual Basic compile error: Can't find project or library`  alert.

The Visual Basic Debugger opens up, and the following line is highlighted:

`Dim objHTTP As New WinHttp.WinHttpRequest
`

I am guessing by the name that _WinHttp_ is available only on Windows?

[2020-09-30 06:20] bpetraus commented on #25
Hi @fercook ,

unfortunately your guess is right. :(

We still work on the tool and have this on the list.

Best

Bernd

[2020-12-02 17:48] pdl86 opened #26 "New "instance" field in excel Sync set-up windows"
Hello

in the latest OpenProject Excel sync tool, a new field "Instance" appears in the upload/download set-up pop up :

![image](https://user-images.githubusercontent.com/30148795/100910861-c6e90780-34ce-11eb-80ed-970c44ffcffb.png)

Any hint waht to put in as it looks like that everything but http:// is rejected , adn then I get an error invalid http command.

thanks for help.
regards
Phil

[2020-12-04 07:41] bpetraus commented on #26
hi @pdl86 ,

actually the line above is the new one. There you can copy paste an complete Openproject URL and the rest is autofilled, e.g.:

Paste "https://community.openproject.com/projects/excel-sync/work_packages?query_id=2550" in line 1 and you will get this automatically:

Instance URL: https://community.openproject.com/
Project: excel-sync
QueryID: (opt.) 2550

Sorry for the confusion, but d

[2020-12-04 09:00] pdl86 opened #27 "Incomplete Download"
Hello

I have a project ( scrum) , with 129 items,

the Excel macro is able to correct and corretcly retrieve all field headrers, .
There is one Custom field.
Once setting up the additional field) , the dowload request return corret ly the 129 record, ofr ID and Subjetc , but only some of the data for Type ( a standrd field) and Order ( a custom field) .

this make the tool difficult to use.

Note

[2020-12-04 10:31] bpetraus commented on #27
Hi @pdl86 ,

thats suprising. Can you please try the following:

1 clear all rows and download the workpackages (save the result, like in another excel file)
2 go to openproject and change for a not working workpackage (e.g. "175 KPI Sales admin V" Operationell")  "Ordre" and "Type" to a value. that works for other workackages (like "A1.4" for "Ordre" and "Feature" for "Type"
3 clear all rows agai

[2020-12-04 10:36] pdl86 commented on #26
Hi Bernd,

Thanks for you review. But unfortunaltely it does not seems to work :

I did  what you recommended :
paste the URL in line 1 , leaving the second empty

Once cliking on Accept, I get an error : URL empty.

If I try to type the instance URL ; it is limited to "https:/"

![image](https://user-images.githubusercontent.com/30148795/101153507-d5e1ce00-3624-11eb-9a1a-ec1f1e3a0cac.png)

Note t

[2020-12-04 10:38] pdl86 commented on #26
Hi Berned

If I paste the URL and "kick" entre, then the second field fille dwith "only" http:/" and then the Macro claims that the URL is invalid;

![image](https://user-images.githubusercontent.com/30148795/101153860-3e30af80-3625-11eb-9e51-3a43dfa1b8e5.png)

[2020-12-04 10:40] bpetraus commented on #26
Hi @pdl86 ,

oh, you're running it local. Never tested before.

Please try the following:

URL: (Autofill) keept it empty
Instance URL: http://localhost:8080/
Project: revival-2023

Best

Bernd

[2020-12-04 10:43] pdl86 commented on #26
Hi Bernd

If I try to copy http://localhost:8080:/ in the second field , I get "only" http:/
![image](https://user-images.githubusercontent.com/30148795/101154343-e9416900-3625-11eb-99ac-32b5cf59850c.png)

[2020-12-04 10:46] pdl86 commented on #27
Hi Bernd

I will try but on 0.5.22  ( as I have a problem 0.5.23 ( see #29)

regards
Philippe

[2020-12-04 10:58] pdl86 commented on #27
Hi Bernd

I have opne the Excle file, set up the macro ( as default, then Accept) ,
git the headers
select "Ordre" and "Type"
request a download : incomplete

empty all lines
save the Xcel under a new name

recativate the macro ( Ctrl+b) ,  display the choosen projetc : OK parameters set-up
request a download

and then magic it works !
( all f value in all field)

this WITHOUT any change on the Op

[2020-12-04 11:02] bpetraus commented on #26
Hi @pdl86 ,

I just uploaded a fresh version, where you can fill in localhost URLs and it will not not messed up.

Can you give it a try?

Best

Bernd

[2020-12-04 11:02] bpetraus commented on #26
U can use the Autofill as well as the Instance URL, if you want.

[2020-12-04 11:06] bpetraus commented on #27
Hi @pdl86 ,

right at your first step (before you first requested a downalod), did you opened a fresh file or where there already workpackages?

Best

Bernd

[2020-12-04 11:15] pdl86 commented on #26
Hi Bernd

Now i works like a charm ( bot the Autofil and Instance) .
many thanks.

Still the issue #29 see comments there.

You can close

regards
philippe

[2020-12-04 11:18] #26 closed

[2020-12-04 11:20] pdl86 commented on #27
Hi
now the it was a fresh file.

after few more test ( with now 0.5.24) , it seems that if you download a first time it is "wrong", then your clear lines et re-query a second time and then it is OK .

but then if you request , new lines are added after existing ones, no cleaning .

So it seems it has something to do with clearing existing lines before filling them again with the query results.

If

[2020-12-04 11:28] bpetraus commented on #27
Hi @pdl86 ,

"but then if you request , new lines are added after existing ones, no cleaning ."

Thats intended. In any case, the excel file will not update existing lines. It just downloads another set of workpackages, starting at the end of the list (even when the workpackages are the same). So its always a good idea to clear the list before re-downloading.

"after few more tests ( with now 0.5.

[2020-12-04 11:34] pdl86 commented on #27
Hi Bernd

It seems it ocurrs ONLY the very first time, and ONLY if you did not save the file. ( so the original xlsm file)
 Afterward after a "line cleaning" it works all time.
( or if you save the Xcel file, close it and reopen the newly namle file , it works )

regards
Philippe

NOT I use Excel 10, not 16

[2020-12-07 13:20] sangorys opened #30 "VBA errors when loading the default parameters"
I have VBA error messages when loading the default parameters.

Reason : to change a text box, we need to define **.Text**. Eg. .URLTextBox becomes .URLTextBox.Text

Please replace the functions by this one :

Sub Standard()

With ChooseProjectForm

    .URLTextBox.Text = DefaultSheet.Range("URLStandard")
    .ProxyCheckBox = DefaultSheet.Range("ProxyStandard")
    .APIKeyTextBox.Text = DefaultShe

[2020-12-08 07:18] #30 closed

[2020-12-08 07:23] bpetraus commented on #30
Hi @sangorys ,

thank you! That was a little clumsy and is for sure much better now. :)

But I'm still wondering, why this leads to an error. May I ask, what excel version do u have?

Best

Bernd

[2020-12-09 09:38] sangorys commented on #30
![image](https://user-images.githubusercontent.com/544194/101612149-9f33fb00-3a0a-11eb-92ab-2a054979ac23.png)

[2020-12-09 09:46] sangorys opened #31 "Improvement request : automatically upload the default configuration"
Hello,

**SUGGESTION :**
instead of having the **Load default** button in **ChooseProjectForm**, I suggest to automatically load the default configuration.

**HOW :**
1. Just add before **Formular.Show** in **BasicsModul.FormularSize()** :

`Call MainModul.Standard`

2. Then you can clean the file :
- delete the **Load default** button
- delete sub **StandardCommandButton_Click**()

Not a huge imp

[2020-12-09 10:19] bpetraus commented on #30
@sangorys , same like me. Any ideas, why it wasnt working at your machine?

[2020-12-09 11:13] #31 closed

[2020-12-09 11:13] bpetraus commented on #31
hi @sangorys ,

I just added the auto-load, when open the form. Great suggestion.

But I kept the buttons. :)

Best

Bernd

[2020-12-14 10:22] sangorys commented on #31
Great : thanks

[2020-12-14 13:38] sangorys opened #32 "Improvement request : have a trace of the sent HTTP requests"
[OpenProjectAPI.zip](https://github.com/opf/OpenProjectExcel/files/5689195/OpenProjectAPI.zip)

### INTRO :

Hello again  :)

I am working on the communication between OpenProject and Excel and this project helps me a lot (**thanks** again, by the way).

Something I need is to understand which HTTP requests and responses are sent / received.

### IDEA
For that, I had this idea :
- Add a sheet to s

[2020-12-14 14:31] sangorys commented on #17
I fully agree with that !!! It would be awesome !

In the same time, I am afraid it is a full new GitHub project...  :(

[2020-12-14 14:42] sangorys opened #33 "Improvement request : add the error text on HTTP errors"
Hello,

I had some HTTP errors because the OpenProject server I am using is very slow and some requests fails.

It was difficult to catch the error until I displayed the error

### IMPLEMENTATION :

In **OpenProjectAPIModul.OpenProjectAPI()**, after **ErrorHandler:** replace :
- MsgBox ("Unknown error (mostly invalid http). Abort. ")
by :
- MsgBox ("Error (mostly invalid http) : " **& Err.Descript

[2020-12-15 11:57] bpetraus commented on #32
hi @sangorys

i liked the idea and so I implemented it. (due to extended lunch time :))

But, it can become plenty of data and didnt want to have it in the Excle file. Plus, excel cells are limited to 32k characters.

So I decided to export a file (to downloads folder of user). The file is updated, not replaced. So delete it from time to time.

Hope that helps.

Best

Bernd

[2020-12-15 11:57] #32 closed

[2020-12-15 11:58] #33 closed

[2020-12-25 10:26] saveriogazzelloni opened #34 "Error in Visual basic (9)"
Hi,
when I try to link the project I receive a message error from Visual basic.
This is the line-code where the problem is set be debugger

        Set letzteZelle = .UsedRange.SpecialCells(xlCellTypeLastCell)
        SortFromRow = 7
        SortByColumn = 2

        .Sort.SortFields.Clear         <----  here there is the stop, the alert says : "index not included in the interval"

can you help me

[2021-01-07 11:18] misterpfister12 opened #36 "OpenProject in Subfolder"
I believe since version 0.5.23 (autofill project formular by complete url) it's not possibile to use the sync workbook if openproject is installed in a subfolder like https://mydomain.com/openproject/
0.5.22 is working well

[2021-01-07 21:18] misterpfister12 commented on #36
I just moved openproject into my root folder - but get still the same error message:
![image](https://user-images.githubusercontent.com/77103638/103945925-37bab980-5136-11eb-9529-c262be6f13db.png)

[2021-01-08 07:26] bpetraus commented on #36
Hi @misterpfister12 ,

does the problem still occur?

Best

Bernd

[2021-01-09 06:27] misterpfister12 commented on #36
Hi @bpetraus

I figured out that the problem also exist when I move openproject to the root folder of my webserver. I think it's a problem with the OpenProjectAPI-Excel and my Office 365 Excel Version. The only solution that helped was the hint from Brearne:

/copy_start

Hello,

Initially I also had difficulties using this feature. I eventually got it working by using the following:

1. Enter the

[2021-01-11 06:55] bpetraus commented on #36
hi @misterpfister12 ,

I dont see, how the quote relates to your question. Anyway, the quote is basicalley right of how to use the tool. Out of curiosity, where did you find it?

Your problem is due to the autofill feature, which assumes root domains, and so would not consider any subfolder. (basically anything between "http[s]://" and the first apperaing "/" would be considered as OpenProject ins

[2021-01-11 06:58] bpetraus commented on #36
By the way, can you please play a little bit around with possibly "wrong" inputs, like:

"https://mydomain.com/openproject"
"https://mydomain.com/openproject//"
"mydomain.com/openproject/"
ect.

[2021-01-11 07:01] bpetraus commented on #34
Hi @saveriogazzelloni ,

can you please describe this a little bit more in detail?

Best

Bernd

[2021-01-11 08:33] misterpfister12 commented on #36
Hello Bernd
Thanks for your response. I just tried the new version 0.6.2 - but it isn't working... I immediately receive an "Error parsing JSON" like in the screenshot above. (My openproject-Installation is currently in the root folder of my webserver - will move it later today.)
Did I something wrong?
Regards

[2021-01-12 07:58] bpetraus commented on #36
Hello @misterpfister12

have you activated the debug option? Can you have a look in the created file?

![image](https://user-images.githubusercontent.com/38315559/104285722-4eee0400-54b4-11eb-9b10-d7513f3a6e9c.png)

Best

Bernd

[2021-01-13 06:46] misterpfister12 commented on #36
Hello Bernd

My Testing Instance URL: https://www.mydomain.com/op

I can enter now the Instance URL also with subfolder and download the work packages. What seems to be wrong (not sure!) is that all "Übergeordnetes Arbeitspaket"-Dependencies are called like "/op35". It looks to me that the subfolder name is now part of the dependency-number what maybe causes the following error:
![image](https://u

[2021-01-13 07:13] bpetraus commented on #36
Hi @misterpfister12 ,

that one I can not reproduce.... I'll take a look on it at weekend.

Have played a little bit around with possibly "wrong" inputs, like:

"https://mydomain.com/openproject"
"https://mydomain.com/openproject//"
"mydomain.com/openproject/"
ect.

Best

Bernd

[2021-01-13 10:08] misterpfister12 commented on #36
Hi Bernd

It's a comment here:
https://www.openproject.org/synchronize-excel-openproject/
   Brearne says: July 8, 2020 at 12:33 pm

I haven't had the time to do it because of Project pressure. :-) Will do it later this week.

Regards!

[2021-04-29 15:25] bpetraus opened #37 "Update Relations"

[2021-04-29 15:26] bpetraus commented on #37
Reminder

[2021-06-21 13:11] fraschipd opened #38 "Content/Format "Estimated time" and "Spent time""
An estimate of 40 hours results in "P1DT16H" being downloaded.
An estimate of 48 hours results in "P2D",
8 hours result in PT8H,
1hour is PT1H.

So anything up to a day (<=8 hours) is shown as "PT*H"
Apologies for not getting this, but what is the rule here?

F.

[2021-06-21 13:22] fraschipd commented on #38
Sorry, couldn't leave this alone.
Now I know how this works - but what format is this?

PTxxD: with xx = full (24h) days
TyyH: with yy being hours being less than 24

[2021-06-24 06:26] bpetraus commented on #38
Hi @fraschipd ,

OpenProject codes date and time values accroding to ISO 8601. (https://en.wikipedia.org/wiki/ISO_8601)

I'd like to implement a parser for getting proper date and time in Excel, but didn't startet, yet. Its one of the top things on the OpenProjectExcel list, but I don't find the time right now.

Best

Bernd

[2021-07-23 11:22] phisad opened #39 "Empty Dropdown completion"
Hello,

I use the Excel sheet with Microsoft® Excel® für Microsoft 365 MSO (16.0.14131.20326) 64-Bit

After connection, I cannot select anything from the Dropdown headers (the list is empty). I can force some field by guessing some names though, but I cannot come up with a translation e.g. for "Parent". It only works, when I type the german header names. In the presentation videos only english hea

[2021-07-23 12:02] phisad commented on #39
OK, I got it. I have to click on the dropdown arrows that appear only AFTER the selection of the header field.

This is weird, but seems the way to go...
![image](https://user-images.githubusercontent.com/6343036/126778894-2f8a7c95-c9ce-447b-ad40-958c626fc117.png)

[2021-07-23 12:02] #39 closed

[2021-08-02 08:58] larimow opened #40 "Deactivate certificat check"
Hi guys,
thank you for this Excel Sheet, it did really help me in the past. However, we're currently operating Open Project with self-signed certificates in a closed off environment and I'm hence getting an abort due to a certificate error. Is there a way to deactivate the certificate check or to manually accept the self-signed one?
Regards
Larimow

[2021-08-04 11:22] larimow opened #41 "Malformed JSON Error"
Dear OpenProject Team,
I tried to find the issue from my other request (access with self-signed certificates) myself but I ran into another issue. For reasons I don't understand, the VBA Code created malformed JSONS from my project URL. I made screenshots from the registration of my OpenProject instance as well as from inside the debugging console. For some reasons the JSON does not contain any br

[2021-08-04 11:27] larimow commented on #41
As an addition, attached you will find the log file. I do already have a suspicion, though. We are using keycloak as A SSO solution and OpenProject might run into it. I'll investigate that further.
[OpenProjectExcelLog.txt](https://github.com/opf/OpenProjectExcel/files/6930805/OpenProjectExcelLog.txt)

[2021-08-05 11:43] Thiyagu-PH commented on #9
Hi,
Comments and attachments fields are not mapping in the excel when comparing to openproject application.
It would be helpful if you allow to add the custom header mapping with the application.

Attachments is not working even when we tried using api v3.

When we try to add the column ""Comments", it is showing error in excel as i attached below.
![OpenProjectComments](https://user-images.github

[2021-08-10 06:48] bpetraus commented on #41
Hi @larimow ,

sorry for the problems you have with the Excel file. I developed the file, but I'm not a software developer. The excel file is not an official part of OpenProject, more kind of a weekend project.

Thats why I dont have a lot of time for further development. But, I would like to help you. Unfortunately I can not reproduce your very particular error. Are you able to create a test inst

[2021-08-11 15:56] larimow commented on #41
Hi Bernd,

I just created a test project and can confirm your assumption: it is a problem with our local environment. I do not get any error when I use your Excel sheet on https://test-project.openproject.com/
The more I think about it, the more likely it appears that our single-sign on solution ist the problem. Right now, we have to log-into our Keycloak Environment when we want to access OpenPro

[2021-08-12 07:49] bpetraus commented on #41
Hi @larimow , this is a little bit out of my experience. @ulferts , any hint from your side?

[2021-09-27 12:25] srkunze commented on #41
Hi everyone,

same error here.

Best
Sven

[2021-09-27 20:53] larimow commented on #41
Hi,
it took us a while but we identified the culprit. As I expected, we had a problem with our single sign one system (Keycloak). The SSO software blocked every API call and answered it with a login request. @srkunze I'd at least advise you to check the log in your download folder (or whererever it's stored in your case). I found the entire answer to the REST call in the log and it helped me findi

[2021-09-28 06:12] bpetraus commented on #41
Hi @larimow ,

thank you for the response! As I didnt was  able to reproduce your problem, your hint is may useful for a lot of people.

Best

Bernd

[2021-09-28 10:16] srkunze commented on #41
That's actually a problem. Can you point me to that place?

[2021-09-28 11:44] larimow commented on #41
Hi @srkunze,
The logfile is literally in my download folder, so C:\Users\[user name]\Downloads with the name "OpenProjectExcelLog".
Regards
Sebastian

[2021-09-29 07:55] kimannakim opened #42 "Visual Basic Compile Error: Syntax Error"
Hi, I am trying to do Excel synchronization with Open Project.

However, after clicking on Accept button, I receive this error
`Microsoft Visual Basic for Applications Compile Error: Syntax error` alert

The Visual Basic Debugger opens up, and the following line is highlighted:
`Function ConvertFromUnicodeJava(TextStr As String) As String`

I've never use VBA before, hence need help on how to hand

[2021-09-30 14:22] #40 closed

[2021-09-30 14:22] larimow commented on #40
We'll try to solve the problem otherwise

[2021-09-30 14:30] bpetraus commented on #40
@larimow thanks for the closing the ticket and note.

[2021-09-30 14:44] larimow commented on #37
Hi Bernd,
what is the status on the relations update? We are about to import a project plan with 1000+ entries into OpenProject and updating relations manually is a real pain in the a...
As it is possible to download work packages including their relations it should be possible to update them as well via the API, right? What are the main issues here?

[2021-09-30 15:24] bpetraus commented on #37
Hi @larimow ,

it's in general a matter of time. This Excel is more a weekend project, you know?

But it should not be a big deal, since all we need is provided via API, as far as i can see.

The only thing can imagine, would be the specification of a relation. right now it's like "follows: 12345". that could be a little bit fragile.

Let me take a look on it, this weekend.

Best

Bernd

[2021-09-30 16:02] larimow commented on #37
Great, thank you. Honestly, I'm the development lead of one of your Enterprise Clients so I can ask for official support and you might be able to work on this project during, well working hours.

[2021-09-30 17:44] lindenthal commented on #37
Hi @larimow,

Niels here - CEO of OpenProject.
Just to make sure we are on the same page here:

We do not support this Excel-Sheet. This is a community-driven project. If you got information stating something different please let me know.

Best
Niels

[2021-10-01 06:49] larimow commented on #37
Hi Niels,
in that case I apologise and retract my comment. I can delete it alltogether if this is preferred.

Best Regards
Larimow

[2021-10-01 07:14] bpetraus commented on #37
Hi @larimow ,

you can handle this however you want, I dont think this is neccessary though. It was a well-meant offer from your side. And Niels just states the fact that the excel file is a community project and OpenProejct doesnt provide official support.

Let me check, what I can achieve at the weekend. :)

Best

Bernd

[2021-10-01 23:11] Nimbulaxan commented on #42
There is nothing wrong with what you have provided, the issue must be somewhere in the code of the function or in how you are calling the function. My best guess without seeing the rest of the code is that either what you are passing in is not of type String or what you are returning is not of type String.

[2021-10-11 18:52] larimow commented on #37
Hi @bpetraus,

thank you for you efforts! I have to admit though, that I was not able to make it run. I created a test project, manually set relations in the OpenProject GUI and tried to download it. "*Relations" stayed empty, the rest worked fine. I would have liked to test it the other way round, so setting relations in the Excel sheet and uploading them but I forgot the syntax and couldn't find

[2021-10-13 09:27] larimow commented on #37
Hi Bernd,
I tried this out today and I can download relations again from the model.
On creating new relations the following happened:

- Created a new task
- Added a follows relation
- Got a "Laufzeitfehler '13': Typen unverträglich
- Opened and closed debugging (did not find anything there on first glance)
- Task has not been created

Next, I tried another route:

- created another task
- updated

[2021-10-19 06:44] #37 closed

[2021-10-19 09:04] larimow commented on #37
Hi @bpetraus,
I just tested the new version. Creating a new version while at the same time adding relations works properly now, thank you for your efforts!
There is one caveat that I would address in the documentation: to fully use this feature you have to:

- Open the Excel sheet
- Configure the project
- Add the column Relations to your table
- Save and close the Excel sheet
- Open the Excel she

[2021-11-02 03:45] kimannakim commented on #42
Yes, you're right. I'm missing " from the string. Thank you!

[2021-11-02 03:45] #42 closed

[2021-11-02 15:57] srkunze opened #43 "Script-Prefix of OpenProject instance is ignored"
Using the `URL: (autofill)` field does not respect a given script prefix of the web instance, e.g.:

![image](https://user-images.githubusercontent.com/1389648/139888939-49bcb30d-26d5-4b20-8fbb-b9bc6bed44ac.png)

[2021-11-03 15:47] bpetraus commented on #43
Hi @srkunze

oh, I wasnt aware of this. Can you try to give an example of the complete URL? (without red) You can give a finctional example. Its just about the syntax.

Best

Bernd

[2021-11-03 19:11] bpetraus commented on #43
@srkunze Does it work, if you fill it out like this?

![image](https://user-images.githubusercontent.com/38315559/140176915-becfa98c-690e-4b1d-a24e-ac2f7c265630.png)

[2021-11-04 08:09] srkunze commented on #43
I thought it was obvious but yes, you are right. The expected `instance url` and `project` should look like in your screenshot after pasting in the `URL: (Autofill)` field. This would be awesome! :-)

[2021-11-04 08:16] bpetraus commented on #43
@srkunze :D It is obvious, but not what I meant.

What I mean, dos import/ export of workpackages work properly, when you fill it out like this?

[2021-11-05 12:38] srkunze commented on #43
OK, I see. That implies two things:

1) Yes, filling out the form in this way works; it is automatically filled this way when re-opening the Excel sheet 👍

2) I would never ever expect it to work differently when I use either "URL: (Autofill)" or "instance url"+"project" or when I use both in combination. I am curious of why should it behave differently? I for one would be extremely confused. 😀

[2021-11-05 14:19] bpetraus commented on #43
re. 2: I was just trying to find out, if theres any problem other than properly splitting "URL: (Autofill)" into "Instance URL:", "Project" and "QueryID: (opt.)", because I'm not able to test this case. by the way, does it work now?

[2021-11-08 12:32] #43 closed

[2021-11-09 03:04] fpondaag opened #44 "Finish Date changes automatically."
Finish date content changes automatically.
for example,  7/11/2021 (D/M/YYYY) after clicking on the update/upload button, The Finish Date content changed into 11/7/2021 (11 Jul 2021).

Causing an error message like this:

[2021-11-10 16:25] bpetraus commented on #44
hi @fpondaag,

can you provide some anonymous screenshots?

Best

Bernd

[2021-11-11 15:37] srkunze commented on #43
@bpetraus You don't need an corresponding OpenProject instance. It's just the splitting. :-)

I downloaded the current Excel-file via the zip functionality of Github but it doesn't show the expected functionality. I didn't find a testsuite for this project but I added some testcases below which I would see to be relevant for this issue :-)

Here is a list of inputs for "URL: (Autofill)" and their

[2021-11-12 15:58] bpetraus commented on #43
@srkunze Thank you for the examples. That was quite helpful. Can u pls test it?

Best

Bernd

[2021-11-19 13:50] srkunze commented on #43
Hi Bernd,

yes. It works now. :-)

Thanks a lot.
Sven

[2022-01-17 12:45] kszytko opened #45 "VBA error when project name beggining with "=""
When project name begin with "=", then excel try to use it as a function.  Easy solution is to use `'` before string read.

OpenProjectAPIModul
line 207

[code]

[2022-03-02 12:10] srkunze opened #46 "Overwrite Data in non-empty Cells"
Hi,

we recently find that overwriting (aka updating the excel sheet completely) non-empty cells would be really beneficial when implementing additional algorithms on the downloaded workpackages.

Right now, new lines are added below even though the same workpackage is already in the excel list.

Would this be possible to add?

Best,
Sven

[2022-03-16 10:28] HT-Marley opened #47 "connection / certificate error"
Hi,

thanks for your great work on this Excel-Makro.
Unfortunately, I get the following error message when connecting with OpenProjectExcel-0.6.15 to our instance in the intranet
![grafik](https://user-images.githubusercontent.com/97530793/158568473-7b912f5c-d57f-445e-82ff-2c770c21a822.png)

I have tried the protocol in the system configuration in Openproject for both https and http and adjusted t

[2022-04-05 17:15] tvdneto commented on #44
Hello @bpetraus ,

I am also getting this issue. Before I start the upload, the task is as below (DD/MM/YYYY):

![Before](https://user-images.githubusercontent.com/72450343/161812646-128cfd62-c8d0-48bf-abf2-f039f5e15e28.png)

And after I select to upload, I get the below errors in the file:

![After](https://user-images.githubusercontent.com/72450343/161812714-a3465bec-5736-408a-af1b-fb14c6f1eaae.

[2022-04-25 16:43] Jeffrey9130 opened #48 "Syntax Error of VBA script"
Stop at "Function ConvertFromUnicodeJava(TextStr As String) As String" with "Compiling Error, Syntax Error".

Win11+VBA7.1

[2022-05-10 20:42] tvdneto commented on #44
Hello @bpetraus , any idea as to why this is happening? Even if I use the same date format it still comes to this issue. It would be great to get some feedback on this. Thanks!

[2022-05-11 11:18] bpetraus commented on #44
Hi @tvdneto ,
1. did u tried this format: dd.mm.yyyy, e.g. 11.05.2022?
2. what format do you get, when you download workpackages, that have beend created manually in your OpenProject instance?
Best
Bernd

[2022-05-11 14:08] tvdneto commented on #44
Hello @bpetraus,

When I "download" the tasks, they show in the excel file as "MM/DD/YY". If I "upload/update" after the initial "download", it gets the errors. Basically like this:

Original dates of each task (I have input these manually in OpenProject):
- Subtask 1.1, Start = August 16, 2021 / End = January 8, 2022
- Subtask 1.2, Start = June 22, 2022 / End = August 21, 2022
OBS: date setting i

[2022-05-24 05:58] JanFrankeDB opened #49 "Multi select list field with comma in value can't be loaded"
I have a multi select list field with a comma in the list value.
As soon as I upload the list, the values are created with exception of this list value with a comma in it.
The Excel-Sheet also deletes a space during the upload:
**Before:**
![image](https://user-images.githubusercontent.com/44831392/169959153-32569069-1c7c-4479-98e3-07a4bc918600.png)

**After:**
![image](https://user-images.githubu

[2022-05-24 13:02] serjsv87 opened #50 "Not working download field"
After press download I look this
https://www.dropbox.com/s/43ha72p2oumhdc3/img-2022-05-24-16-02-33.png?dl=0

[2022-06-05 13:05] pdemaret commented on #44
Hello, I see the same problem on my installation, where dates months and days are "swapped" between download and upload via the excel sheet.
I launched a standard instance of openproject, and only perform download and upload on the demo project. All time format set to YYY-MM-DD, in windows, excel as in OP.

First download : all fine, data is exactly what it should be.
![Screenshot 2022-06-05 at 14

[2022-06-06 11:59] bpetraus commented on #44
Hi @tvdneto  Hi @pdemaret

@tvdneto sorry for responding that late. I didnt recevice a notifaction before @pdemaret commented.

This is a excel problem. OpenProject only accepts 'YYYY-MM-DD (ISO 8601 date)'. So the Excel files tries to convert whatever is typed in the cell to that format, before uploading.

Whats going on here is, that Excel tries to "fix" a date automatically. That unfortunately

[2022-06-06 12:26] bpetraus commented on #49
Hi @JanFrankeDB ,

you have to use ";" instead of ",".

Best

Bernd

[2022-06-06 14:35] tvdneto commented on #44
Hello @bpetraus ,

Thank you for the information. Is there no way to override the excel issue in the VBA? I have tried multiple date formats but this just keeps happening.

Even tried changing system date settings, but no success.

Thanks again!

[2022-06-07 08:52] bpetraus commented on #44
Hi @tvdneto ,

did you tried to format the affected columns to "text", in order to avoid auto-formating?

Best

Bernd

[2022-06-07 11:13] tvdneto commented on #44
Hello @bpetraus,

No I did not 🤦‍♂️ , and YES **that resolves this issue**. Best solutions are the simple ones. I would like to mark your reply as an answer but I am not the owner of this thread...

Thank you so much for your support and time! This will save a lot of my time migrating to OpenProject.

Cheers!

[2022-06-07 12:02] pdemaret commented on #44
Hell @bpetraus, I confirm that setting in excel the format of all the date columns to text resolves the issue.
Thank you very much !

[2022-06-07 17:17] bpetraus commented on #44
Great, thank you for your feedback!

[2022-06-07 17:17] #44 closed

[2022-06-21 06:23] JanFrankeDB commented on #49
Hi @bpetraus ,
thanks for your reply.
In my case the ", " is wanted because it is part of one list value. (It shouldn't be a multi select value).
Thank you and best regards
Jan

[2022-06-27 09:09] cfritzi opened #52 "Virus Scanner moves OpenProjectAPI.xlsm to quarantine"
Hello
Our virus scanner moved the excel file "OpenProjectAPI.xlsm" to quarantine, it says it contains Doc.Macro.Obfuscated-6397052-2. Is this something i only have, and is it a serious issue?

Thank you

[2022-10-13 20:01] elselektor opened #53 "Requesting Support: Error 429 (ActiveX component can't create object)"
Hello OpenProject-Excel Community,

Thanks for creating this awesome macro. I'm excited to try it but unfortunately I've run into a bug and not sure where to go from here.

The problem is that when I initially click Accept after entering the project settings, I receive error 429: "ActiveX component can't create object." After searching online, it seems the root cause could be a wide range of syste

[2022-11-18 12:22] plpamos commented on #50
same problem with Microsoft® Excel® dla Microsoft 365 MSO (16.0.14326.20936) (64-bit)

[2022-11-24 11:21] mertcelik600 opened #54 "Excel sync error "run-time error '1004':"
I am getting an error as "application-defined or object-defined error" while transferring data from excel.

WorkpackagesSheet.Cells(i, Versionlock ColumnLng) = Body JsonObj("lock_Version")

After these errors, I cannot transfer more than one work package from excel to the application.